<html>
	<head>
		<title>Connect4</title>		
		<link rel="shortcut icon" type="image/x-icon" href="http://storage.cloversites.com/oakhillbaptistchurch/site_images/page57_picture0_1333388848.jpg">
	</head>
	<body>
		<h1>Bienvenidos al juego CONNECT 4</h1>	
		<img src="http://storage.cloversites.com/oakhillbaptistchurch/site_images/page57_picture0_1333388848.jpg" alt="Logotipo Connect4" title="Logotipo Connect4" width="300" height="200"/>
		<hr>
		<h4>Juego</h4>	
		
			
	{{usuario1}}
	{{usuario2}}
		
	<form action="/drop" method="POST">
		<input type="hidden"name="game_id" value={{current.game_id}} />
		<input type="hidden"name="columna1"  />	
		<input type="submit" value="      TIRAR 1     " name="tirar0" />
		<input type="submit" value="      TIRAR 2     " name="tirar1"/>
		<input type="submit" value="      TIRAR 3     " name="tirar2"/>
		<input type="submit" value="      TIRAR 4     " name="tirar3"/>
		<input type="submit" value="      TIRAR 5     " name="tirar4"/>
		<input type="submit" value="      TIRAR 6     " name="tirar5"/>
	</form>	
		
		<style>
	.demo {
		border:1px solid #C0C0C0;
		border-collapse:collapse;
		padding:5px;
	}
	.demo th {
		border:1px solid #C0C0C0;
		padding:5px;
		background:#F0F0F0;
	}
	.demo td {
		border:1px solid #C0C0C0;
		padding:5px;
	}
</style>
{{#tablero}}
{{value1}}
{{/tablero}}
<table class="demo">
	<thead>
	<tr>
		<th>Columna 1</th>
		<th>Columna 2</th>
		<th>Columna 3</th>
		<th>Columna 4</th>
		<th>Columna 5</th>
		<th>Columna 6</th>
	
	</tr>
	</thead>
	<tbody>
	<tr>
		{{#tablero}}
		<td>{{value1}}</td>
		<td>{{value1}}</td>
		<td>{{value1}}</td>
		<td>{{value1}}</td>
		<td>{{value1}}</td>
		<td>{{value1}}</td>
		{{/tablero}}
	</tr>
	<tr>
		{{#tablero}}
		<td>{{value1}}</td>
		<td>{{value1}}</td>
		<td>{{value1}}</td>
		<td>{{value1}}</td>
		<td>{{value1}}</td>
		<td>{{value1}}</td>
		{{/tablero}}
	</tr>
	<tr>
		{{#tablero}}
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		{{/tablero}}
	</tr>
	<tr>
		{{#tablero}}
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		{{/tablero}}
	</tr>
	<tr>
		{{#tablero}}
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	{{/tablero}}
	</tr>
	<tr>
		{{#tablero}}
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		{{/tablero}}
	</tr>
	<tbody>
</table>
	
		
		<form action="guardar" method="POST">
				<label>guardar</label>
				<input  type="submit" value="Guardar Partida"name="guardar">
		
		</form>
				
		
		
		<form action="rank" method="POST">
				<label>rank</label>
				<input  type="submit" value="Ver Rank"name="rank">
			
		</form>


	</body>
</html><tr>