
<form action="/play" method="POST">
<label for="jugador1"/>

<input type="text" name="jugador1">
<label for="jugadpr2"/>
<input type="text" name="jugador2">
<input  type="submit" name="play">


</form>