<html>
	<head>
		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
		
		<title>Connect4</title>		
		<link rel="shortcut icon" type="image/x-icon" href="http://storage.cloversites.com/oakhillbaptistchurch/site_images/page57_picture0_1333388848.jpg">
	</head>
	<body background="fondo.jpg" text="#FFFFFF"><center>
		<h1>Bienvenidos al juego</h1>	
		<img src="logo.png" alt="Logotipo Connect4" title="Logotipo Connect4"/>
		<hr>
		<h4>Menu</h4>
				
		<form action="/jugar" method="POST">
			
				<label for="jugar"/>
				<input type=image src="jugar.png">
				
				
		</form>		
			
		<form action="/rank" method="POST">
			
				<label for="rank"/>
				<input type=image src="ranking.png">
		</form>

		<form action="/creditos" method="POST">
			
			<input type=image src="creditos.png">
		</form>
		<hr>
	</center>	
	</body>
</html>
