<html>
	<head>
		<title>Connect4</title>		
		<link rel="shortcut icon" type="image/x-icon" href="http://storage.cloversites.com/oakhillbaptistchurch/site_images/page57_picture0_1333388848.jpg">
	</head>
	<body><center>
		<h1>Bienvenidos al juego</h1>	
		<img src="logo.png" alt="Logotipo Connect4" title="Logotipo Connect4"/>
		<hr>
		<h4>Menu</h4>
				
		<form action="/jugar" method="POST">
			
				<label for="jugar"/>
				<input type="submit" value="Jugar" name="jugar">
				
				
		</form>		
			
		<form action="/rank" method="POST">
			
				<label for="rank"/>
				<input type="submit" value="Ranking" name="rank">
				
				
		</form>
	</center>
	   
		
	</body>
</html>
